/* Master Sytle Sheets */

body::before {
  display: block;
  content: '';
  height: 0px;
}
  
  #map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  @media (min-width: 768px) {
    .news-input {
      width: 100%;
    }
  }

  .bg-image {
    background-image: url("../images/nilo_about_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 

  }

  .bg-nilo {
    background-color: black;
  }

.hero-nilo {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust this to your desired height */
    overflow: hidden;
    
}
  
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #fff;
}
