<footer class="bg-light text-dark pt-2 font-monospace">
  <div class="container">
    <div class="row justify-content-center"> <!-- Add justify-content-center class here -->
      <div class="col-md-8">
        <p>&copy; 2023 Nilo Cara || Designed & Coded - Python, Django ||
          <a href="https://github.com/niloc95/my_django" target="blank" class="text-reset text-muted px-2">Source Code
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/nilo-cara/" class="me-4 text-reset">Connect 
            <i class="bi bi-linkedin"></i>
          </a>
        </p>
      </div>
      <div class="col-md-4 text-md-end">
        <p><a class="text-reset text-muted" href="#">Privacy Policy</a> || <a class="text-reset text-muted" href="#">Terms of Use</a></p>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>