{% extends 'base.html' %}
{% load static%}

{% block content %}

    <!-- Intro settings -->
      
    <!-- Background image -->

    <div class="container mt-5">
        <div class="jumbotron text-center ">
        <h1 class="display-1 pt-5">Pushing the boundaries on innovation</h1>
        <p class="lead">A Programming language is just a language!</p>
        <p class="lead">but its until, that someone writes with it then it has meaning!</p>
        <hr class="my-4">
                
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    <!-- Background image -->
 
    <div class="container">
        <section>
            <h2 class="display-5 mb-4">About Me</h2>
            <p class="lead">An experienced IT professional with strong problem-solving skills and a
              pragmatic approach to work. I excel at analyzing and solving complex
              challenges.</p>
        </section>
                                     
        
        <section>
          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                One of three columns
              </div>
              <div class="col">
                One of three columns
              </div>
              <div class="col">
                One of three columns
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                One of three columns
              </div>
              <div class="col">
                One of three columns
              </div>
              <div class="col">
                One of three columns
              </div>
            </div>
            <div class="row align-items-end">
              <div class="col">
                One of three columns
              </div>
              <div class="col">
                One of three columns
              </div>
              <div class="col">
                One of three columns
              </div>
            </div>
          </div>
            {% comment %} <h2 class="mb-4">Skills and Competencies</h2>
            <ul class="list-unstyled">
                <li>Skill 1</li>
                <li>Skill 2</li>
                <li>Skill 3</li>
                <li>...</li>
            </ul> {% endcomment %}
        </section>
        <section>
            <h2 class="display-5 mb-4 pt-5">Education</h2>
            <ul class="list-unstyled">
                <li>Technikon Witwatersrand: <a href="https://frontendza-my.sharepoint.com/personal/nilo_cara_frontend_co_za/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fnilo%5Fcara%5Ffrontend%5Fco%5Fza%2FDocuments%2FCV%27s%2FCert%2FWITS%5FND%5FCert%2Epdf&parent=%2Fpersonal%2Fnilo%5Fcara%5Ffrontend%5Fco%5Fza%2FDocuments%2FCV%27s%2FCert&ga=1">National Diploma</a> (University of Johannesburg) (2003)</li>
                <li>Degree 2: [Degree Name] from [University Name] (Year Graduated)</li>
                <li>...</li>
            </ul>
        </section>
        <section>
            <h2 class="mb-4">Work Experience</h2>
            <ul class="list-unstyled">
                <li>Job Title 1: [Job Title] at [Company Name] (Employment Period)</li>
                <li>Job Title 2: [Job Title] at [Company Name] (Employment Period)</li>
                <li>...</li>
            </ul>
        </section>
        <section>
            <h2 class="mb-4">Projects</h2>
            <ul class="list-unstyled">
                <li><a href="https://github.com/niloc95/about_page/tree/master/my-site">My Personal site using gatsby</a></li>
                <li><a href="[GitHub Project URL]">Project Name 2</a></li>
                <li>...</li>
            </ul>
        </section>
    <section>
        <h2>Blog Posts and Articles</h2>
        <ul>
            <li><a href="https://www.linkedin.com/pulse/artificial-intelligence-163-andriy-burkov/">Artificial Intelligence #163</a></li>
            <li><a href="https://addyosmani.com/blog/eisenhower-matrix/">https://addyosmani.com/blog/eisenhower-matrix/</a></li>
            <li>...</li>
        </ul>
    </section>

    {% comment %} <section class="p-5">
        <div class="container">
          <div class="row g-4">
            <div class="col-md p-5">
              <h2 class="text-center mb-4 display-1">Contact Info</h2>
              <ul class="list-group list-group-flush lead">
                <li class="list-group-item">
                  <span class="fw-bold">Our Address:</span> Block 2, Melrose Arch, Johannesburg, GA, 2196
                </li>
                <li class="list-group-item">
                  <span class="fw-bold">Phone:</span> (+27) 76-829-7070
                </li>
                <li class="list-group-item">
                  <span class="fw-bold">Email:</span> za_admin@frontend.co.za
                </li>
                <li class="list-group-item">
                  <span class="fw-bold">Student Email:</span>
                  student@frontendbc.test
                </li>
              </ul>
            </div>
            <div class="col-md">
              <div id="map"></div>
            </div>
          </div>
        </div>
      </section> {% endcomment %}


{% endblock content%}