{% extends 'base.html' %}



{%load crispy_forms_tags%}

{% block content %}
  
<section class="py-5">
  <div class="container">
    <div class="row my-5">
      <div class="col-md-12">
        <h1 class="text-center mb-12">Welcome to DJ Music Festivals</h1>
        <p class="lead my-4">No matter if you’re a fan of psytrance parties, techno raves, house parties or multi-genre electronic music festivals, we have listed all the Cape Town festivals taking place this year and in 2023.</p>
        
        <div class="row my-5">
            <h4 class="text-left mb-12">Please register</h4>
        </div>
        <form method="POST" class="form">
          {% csrf_token %}
          {{ form|crispy}}
          <p></p>
          <button type="submit" class="btn btn-primary btn-lg">Register</button>
          
        </form>
        
      </div>
    </div>
  </div>
</section>
 {% endblock %}