{% extends 'base.html'%}
{%block content%}
<!-- Contact & Map -->

{% comment %} <div class="jumbotron text-center">
    <h1 class="display-1">Welcome DJ Music Festival</h1>
    <p class="lead">We all about you and music </p>
    <hr class="my-4">
    <p class="lead">head5 out now! 5555 metaverse ready avatars on the Polygon blockchain.</p> 
</div>{% endcomment %}

<section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md py-5">
          <h2 class="mb-4 display-1">Contact Info</h2>
          <ul class="list-group list-group-flush lead">
            <li class="list-group-item">
              <span class="fw-bold">My Address:</span> Block 2, Melrose Arch, Johannesburg, GA, 2196
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Phone:</span> (+27) 76-829-7070
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Email:</span> za_admin@frontend.co.za
            </li>
          </ul>
        </div>
        <div class="col-md">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </section>

  {%endblock%}